.login-body {
    width: 100%;
}

.login-body .title {
    height: 500px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-body .title h1 {
    font-size: 70px;
    text-align: left;
    width: 1300px;
    letter-spacing: 2px;
}

.login-input-container {
    margin: 150px 0 150px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-input-inner {
    width: 68%;
    display: flex;
    flex-direction: column;
}

.login-input-inner h2{
    font-size: 45px;
    margin: 16px 0;
    width: 100%;
    text-align: left;
    letter-spacing: 2px;
}

.login-input-inner label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: grey;
    margin-bottom: 30px;
}

.login-input-inner input {
    height: 33px;
    margin-bottom: 50px;
    border: none;
    border-bottom: 2px solid #e5e5e5;
    outline: none;
    color: black;
    font-size: 22px;
    line-height: 27px;
    cursor: pointer;
    font-weight: 700;
    transition: border-bottom 0.2s ease;
}

.login-input-inner input:focus {
    border-bottom: 2px solid #ed1d24;
}

.checkbox-btn {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.login-input-inner>.checkbox-btn>input {
    margin-bottom: 0;
    margin-right: 10px;
}

.checkbox-btn span {
    font-size: 16px;
    color: grey;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    line-height: 27px;
    margin-right: 40px;
}

.login-input-inner .lost-pass {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color: #000;
    transition: color 0.3s ease;
}

.login-input-inner .lost-pass:hover {
    color: #ed1d24;
}

